{
  "presets": [["@babel/preset-env", { "modules": false, "loose": true }], "@babel/preset-react"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }],
    ["import", { "libraryName": "antd", "style": true, "libraryDirectory": "es" }]
  ]
}
