{
  "extends": ["react-app", "prettier", "prettier/react"],
  "plugins": ["prettier", "flowtype"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "browser": true
  }
}
